<div class="min-h-screen bg-gray-50 py-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
<!--    <nav class="mb-8 text-sm text-gray-400">-->
<!--      <%#= link_to 'Проекты', projects_path, class: 'text-primary-600 hover:text-primary-700' %> ›-->
<!--      <%#= link_to @experiment.project.name, @experiment.project, class: 'text-primary-600 hover:text-primary-700' %> ›-->
<!--      <span class="text-gray-600 font-medium"><%#= @experiment.name %></span>-->
<!--    </nav>-->

    <%= render partial: 'experiments/experiment_partial',
               locals: { experiment: @experiment, project: @project,
                         json_results_count: @json_results_count,
                         stats: @stats, latest_json: @latest_json,
                         plot_3d_data: @plot_3d_data,
                         fitness_history_data: @fitness_history_data
               } %>
  </div>
</div>

